/* common shared styles*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #0a7bfd;
}

.hireme {
    border-radius: 5px;
    background: #0a7bfd;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.section-title {
margin-top: -4rem;
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12.5rem;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #ecf3f5;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 1.3rem 1.3rem 0rem 5.375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    text-align: center;
    max-width: 50%;
    margin-left: 3.5rem;
}

.profile-pic {
    max-width: 50%;
}

.banner-greeting {
    font-size: 2.83rem;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 5.3rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    
}

/* about section styles */
.about {    
    max-width: 100%;
    padding: 8.13rem;
    border-radius: 10px;
    background: #c7bffb1e;
   margin-top: 1rem;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skills related styles */
.what{
    margin-top:5rem;
}

#what-i-do-description {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 1.5rem;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* Resume Section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */
footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.social-links a{
    margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {

.nav {
display: flex;
flex-direction: column;
justify-content:center
    }
    nav>ul {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav li {
        list-style: none;
 align-items: center;
    }
    .hireme {
        width: 100%;
        height: 50%;
        margin-top: 10px;
        border-radius: 5px;
        background: #0a7bfd;
        border: 0;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        
    }
    .banner {
        display: flex;
        flex-direction: column;
      
        
    }
    .banner-title {
        font-size: 2rem;
        font-weight: 70;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .banner-content{
    margin: 0 auto;
    direction: flex;
        

       
    }
    .section-title {
        margin-bottom: 1rem;
        padding-top: 0px;    
}
       .about-info-container{
        flex-direction: column;
       }


.section-description{
    width: 120%;
}
.skills-container{
    display: flex;
    flex-direction: column;
}



}